<h1>Formulario Valoración</h1>
<form>
  <label>Serie</label><br />
  <input type="text" [(ngModel)]="serie" name="serie" /><br />
  <label>Correo</label><br />
  <input type="email" [(ngModel)]="email" name="email" /><br />
  <label>Nombre</label><br />
  <input type="text>" [(ngModel)]="nombre" name="nombre" /><br /><br />

  <button type="submit" (click)="resumen()">Enviar</button><br />
</form>
<p [ngClass]="{ rojo: error == true }">{{ mensajeError }}</p>
<h1 [ngClass]="{ verde: valor !== '' }" *ngIf="valor !== ''">
  Gracias {{ nombre }}, por su valoración: {{ valor }}
</h1>

<app-resumen
  *ngIf="mostrarResumen"
  [serie]="serie"
  [nombre]="nombre"
  [email]="email"
  (selected)="valoracion($event)"
></app-resumen>
